Repository thef4tdaddy/violet-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, go-backend, python-backend

codecov.yml:

# Codecov Configuration
# Enforces high coverage for new files in feature branches

coverage:
  status:
    # Overall project coverage mapping to the 80% roadmap
    project:
      default:
        target: 80%
        threshold: 1%
        informational: false # Block if threshold is not met
        base: auto

    # NEW CODE coverage (strict)
    patch:
      default:
        target: 80%
        threshold: 0%
        only_pulls: true

# PR Comment Configuration
comment:
  layout: "header, diff, flags, files, bundle_analysis"
  behavior: default
  require_changes: false # Show coverage even if it doesn't change
  require_base: false
  require_head: true
  hide_project_coverage: false # Explicitly show total project coverage
  after_n_builds: 1

# Ignore patterns (if needed)
ignore:
  - "**/__tests__/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/test_*.py"
  - "**/*.spec.ts"
  - "**/vitest.config.ts"
  - "**/setup.ts"

# Strict mode for feature branches
parsers:
  javascript:
    enable_partials: false

flags:
  frontend:
    paths:
      - src/
  go-backend:
    paths:
      - api/
      - "!api/**/*.py"
  python-backend:
    paths:
      - api/
      - "!api/**/*.go"

ci: ignore coverage artifacts
  .coverage
  .gitignore
  package.json
Due: none

ci: fix python test imports and ecosystem coverage in workflows
  .github/workflows/ci.yml
  .github/workflows/daily-health.yml
Due: none

ci: robust python test handling and fixed codecov api host
  .github/workflows/ci.yml
  .github/workflows/daily-health.yml
  package.json
Due: none

ci: daily health and ci.yml repairs
  .github/workflows/ci.yml
  .github/workflows/daily-health.yml
  .gitignore
  package.json
Due: none

fix(api): add missing httpx dependency for testing
  api/requirements.txt
Due: go-backend, python-backend

docs: add comprehensive Polyglot Paycheck Flow v2.1 implementation plan
  docs/plans/2026-01-29-feat-polyglot-paycheck-flow-v2-plan.md
Due: none

feat(stores): implement Zustand paycheck flow store with privacy-first persistence
  src/stores/ui/__tests__/paycheckFlowStore.test.ts
  src/stores/ui/paycheckFlowStore.ts
Due: frontend

docs: update paycheck flow plan with Zod validation & transaction schema
  docs/plans/2026-01-29-feat-polyglot-paycheck-flow-v2-plan.md
Due: none

feat: implement Zod validation for paycheck wizard (#1843)
  coverage.json
  src/stores/ui/__tests__/paycheckFlowStore.test.ts
  src/stores/ui/paycheckFlowStore.ts
  src/utils/core/validation/__tests__/paycheckWizardValidation.test.ts
  src/utils/core/validation/paycheckWizardValidation.ts
Due: frontend

feat(wizard): implement PaycheckWizardModal container (#1785)
  src/components/budgeting/paycheck-flow/PaycheckWizardModal.tsx
  src/components/budgeting/paycheck-flow/__tests__/PaycheckWizardModal.test.tsx
  src/components/budgeting/paycheck-flow/steps/AllocationStrategyStep.tsx
  src/components/budgeting/paycheck-flow/steps/AmountEntryStep.tsx
  src/components/budgeting/paycheck-flow/steps/ReviewStep.tsx
  src/components/budgeting/paycheck-flow/steps/SuccessStep.tsx
Due: frontend

docs(plan): add payee name and local history features
  docs/plans/2026-01-29-feat-polyglot-paycheck-flow-v2-plan.md
Due: none

feat(store): add payerName field for employer tracking (#1837)
  src/stores/ui/__tests__/paycheckFlowStore.test.ts
  src/stores/ui/paycheckFlowStore.ts
  src/utils/core/validation/paycheckWizardValidation.ts
Due: frontend

feat(service): implement PaycheckHistoryService for local history tracking (#1837)
  src/utils/core/services/__tests__/paycheckHistory.test.ts
  src/utils/core/services/paycheckHistory.ts
Due: frontend

feat(paycheck-flow): implement AmountEntryStep with smart pre-fill (#1837)
  docs/plans/2026-01-29-feat-polyglot-paycheck-flow-v2-plan.md
  src/components/budgeting/paycheck-flow/PaycheckWizardModal.tsx
  src/components/budgeting/paycheck-flow/steps/AllocationStrategyStep.tsx
  src/components/budgeting/paycheck-flow/steps/AmountEntryStep.tsx
  src/components/budgeting/paycheck-flow/steps/ReviewStep.tsx
  src/components/budgeting/paycheck-flow/steps/SuccessStep.tsx
  src/components/budgeting/paycheck-flow/steps/__tests__/AmountEntryStep.test.tsx
  src/stores/ui/__tests__/paycheckFlowStore.test.ts
  src/utils/core/services/paycheckHistory.ts
  src/utils/core/validation/__tests__/paycheckWizardValidation.test.ts
  src/utils/core/validation/paycheckWizardValidation.ts
Due: frontend

test: increase coverage for core hooks and services (80%+) - closes #1839, #1840, #1841
  api/autofunding/test_conditions.py
  api_coverage.xml
  configs/typescript/.tsbuildinfo
  package.json
  src/components/analytics/__tests__/ReportExporter.test.tsx
  src/components/analytics/trends/HistoricalTrendsChart.tsx
  src/hooks/budgeting/core/useBudgetData/__tests__/mutationsHelpers.test.ts
  src/hooks/budgeting/metadata/__tests__/useBudgetMetadataMutation.test.tsx
  src/services/sync/__tests__/editLockService.test.ts
  vitest-coverage.json
Due: frontend

fix(workflow): correct Codecov API endpoint and data path in daily-health.yml
  .github/workflows/daily-health.yml
  package.json
Due: none

feat(paycheck-flow): implement Review Step (#1838)
  src/components/budgeting/paycheck-flow/steps/ReviewStep.tsx
  src/components/budgeting/paycheck-flow/steps/__tests__/ReviewStep.test.tsx
Due: frontend

feat(paycheck-flow): implement Success Step (#161)
  src/components/budgeting/paycheck-flow/steps/SuccessStep.tsx
  src/components/budgeting/paycheck-flow/steps/__tests__/SuccessStep.test.tsx
Due: frontend

feat(backend): implement Go allocation engine and Python prediction service
  api/allocate/index.go
  api/allocate/index_test.go
  api/allocate/strategies.go
  api/allocate/types.go
  api/analytics/paycheck_prediction.py
  api/analytics/test_paycheck_prediction.py
Due: go-backend, python-backend

feat: add Zod schemas and API clients for allocation and prediction services (#1847)
  src/domain/schemas/__tests__/allocation.test.ts
  src/domain/schemas/__tests__/prediction.test.ts
  src/domain/schemas/allocation.ts
  src/domain/schemas/prediction.ts
  src/services/api/allocationService.ts
  src/services/api/predictionService.ts
Due: frontend

chore: refactor paycheck flow components, fix TS/Python type errors, and boost test coverage
  .coverage
  api/allocate/index_test.go
  api/allocate/types.go
  api/analytics/paycheck_prediction.py
  api/analytics/test_paycheck_prediction.py
  package.json
  src/components/budgeting/paycheck-flow/PaycheckWizardModal.tsx
  src/components/budgeting/paycheck-flow/steps/AllocationStrategyStep.tsx
  src/components/budgeting/paycheck-flow/steps/AmountEntryStep.tsx
  src/components/budgeting/paycheck-flow/steps/ReviewStep.tsx
  src/components/budgeting/paycheck-flow/steps/__tests__/AllocationStrategyStep.test.tsx
  src/components/budgeting/paycheck-flow/steps/__tests__/SuccessStep.test.tsx
  src/domain/schemas/allocation.ts
  src/services/api/__tests__/allocationService.test.ts
  src/services/api/__tests__/predictionService.test.ts
  src/services/api/allocationService.ts
  src/services/api/predictionService.ts
  src/utils/core/services/paycheckHistory.ts
  src/utils/core/validation/paycheckWizardValidation.ts
Due: frontend, go-backend, python-backend

test: comprehensive AllocationStrategyStep tests for issue #1844
  src/components/budgeting/paycheck-flow/steps/__tests__/AllocationStrategyStep.test.tsx
Due: none

feat: implement Quick Strategies UI integration (#1844)
  src/components/budgeting/paycheck-flow/steps/AllocationStrategyStep.tsx
Due: frontend

feat(paycheck-flow): add paycheck frequency to SPLIT EVENLY
  package-lock.json
  src/components/budgeting/paycheck-flow/steps/AllocationStrategyStep.tsx
  src/domain/schemas/allocation.ts
  src/services/api/allocationService.ts
Due: frontend

feat(paycheck-flow): add frequency hint to Python prediction service
  src/components/budgeting/paycheck-flow/steps/AllocationStrategyStep.tsx
  src/domain/schemas/prediction.ts
  src/services/api/predictionService.ts
Due: frontend

feat(go): implement paycheck frequency in allocation engine
  api/allocate/index.go
  api/allocate/index_test.go
  api/allocate/strategies.go
  api/allocate/types.go
Due: go-backend

feat(python): implement paycheck frequency hint in prediction service
  api/analytics/paycheck_prediction.py
  api/analytics/test_paycheck_prediction.py
Due: python-backend

feat(paycheck): smart amount-based frequency auto-detection
  api/analytics/detect-frequency.py
  api/analytics/paycheck_prediction.py
  api/analytics/test_paycheck_prediction.py
  src/components/budgeting/paycheck-flow/steps/AllocationStrategyStep.tsx
  src/domain/schemas/prediction.ts
  src/services/api/predictionService.ts
Due: frontend, python-backend

fix(paycheck-flow): resolve all tests & improve salvo UI and persistence
  .coverage
  .gitignore
  api/allocate/index_test.go
  api/allocate/types.go
  api/analytics/test_paycheck_prediction.py
  package-lock.json
  package.json
  scripts/full_salvo.py
  src/components/budgeting/paycheck-flow/__tests__/PaycheckWizardModal.test.tsx
  src/components/budgeting/paycheck-flow/steps/AllocationStrategyStep.tsx
  src/components/budgeting/paycheck-flow/steps/__tests__/AllocationStrategyStep.test.tsx
Due: frontend, go-backend

feat(autofunding): implement Go rule execution engine and save-as-rules (#1845, #1846)
  api/handlers/autofunding_handler.go
  api/models/autofunding.go
  api/services/rule_executor.go
  src/components/budgeting/paycheck-flow/SaveAsRulesModal.tsx
  src/components/budgeting/paycheck-flow/steps/AllocationStrategyStep.tsx
  src/services/allocation/goRuleExecutionService.ts
  src/utils/domain/budgeting/autofunding/conversionHelpers.ts
Due: frontend, go-backend

feat(dashboard): add GotPaidCTA component and paycheck wizard integration
  package-lock.json
  src/components/dashboard/GotPaidCTA.tsx
  src/components/dashboard/QuickActions.tsx
  src/components/dashboard/__tests__/GotPaidCTA.test.tsx
  src/components/pages/MainDashboard.tsx
Due: frontend

feat(paycheck-wizard): implement expense forecasting with bill coverage warnings (#1853)
  api/handlers/forecasting_handler.go
  api/services/forecasting_calculator.go
  src/components/budgeting/paycheck-flow/forecasting/AutoFixSection.tsx
  src/components/budgeting/paycheck-flow/forecasting/BillCoverageItem.tsx
  src/components/budgeting/paycheck-flow/forecasting/BillForecastingPanel.tsx
  src/components/budgeting/paycheck-flow/steps/AllocationStrategyStep.tsx
  src/hooks/budgeting/paycheck-flow/useBillForecasting.ts
  src/services/forecasting/forecastingService.ts
  src/utils/domain/budgeting/autoFixSuggestions.ts
  src/utils/domain/budgeting/billCoverageCalculations.ts
Due: frontend, go-backend

test(forecasting): add comprehensive unit tests for expense forecasting (#1853)
  src/services/forecasting/__tests__/forecastingService.test.ts
  src/utils/domain/budgeting/__tests__/autoFixSuggestions.test.ts
  src/utils/domain/budgeting/__tests__/billCoverageCalculations.test.ts
Due: none

chore: stabilize paycheck flow and go backend baseline
  api/handlers/autofunding_handler.go
  api/handlers/forecasting_handler.go
  api/handlers/handler_test.go
  api/models/autofunding.go
  api/services/forecasting_calculator.go
  api/services/forecasting_calculator_test.go
  api/services/rule_executor.go
  api/services/rule_executor_test.go
  package.json
  src/components/budgeting/paycheck-flow/SaveAsRulesModal.tsx
  src/components/budgeting/paycheck-flow/__tests__/PaycheckWizardModal.test.tsx
  src/components/budgeting/paycheck-flow/forecasting/AutoFixSection.tsx
  src/components/budgeting/paycheck-flow/forecasting/BillCoverageItem.tsx
  src/components/budgeting/paycheck-flow/forecasting/BillForecastingPanel.tsx
  src/components/budgeting/paycheck-flow/steps/AllocationControls.tsx
  src/components/budgeting/paycheck-flow/steps/AllocationGrid.tsx
  src/components/budgeting/paycheck-flow/steps/AllocationSelectors.tsx
  src/components/budgeting/paycheck-flow/steps/AllocationStrategyStep.tsx
  src/components/budgeting/paycheck-flow/steps/__tests__/AllocationStrategyStep.test.tsx
  src/components/dashboard/GotPaidCTA.tsx
  src/components/dashboard/PaydayBanner.tsx
  src/components/dashboard/__tests__/GotPaidCTA.test.tsx
  src/components/pages/MainDashboard.tsx
  src/hooks/budgeting/paycheck-flow/useAllocationStrategies.ts
  src/hooks/budgeting/paycheck-flow/useBillForecasting.ts
  src/hooks/budgeting/paycheck-flow/usePaycheckFrequencyDetection.ts
  src/services/allocation/goRuleExecutionService.ts
  src/services/forecasting/__tests__/forecastingService.test.ts
  src/services/forecasting/forecastingService.ts
  src/utils/domain/budgeting/__tests__/autoFixSuggestions.test.ts
  src/utils/domain/budgeting/autoFixSuggestions.ts
  src/utils/domain/budgeting/autofunding/conversionHelpers.ts
  src/utils/domain/budgeting/billCoverageCalculations.ts
Due: frontend, go-backend

test: improve coverage of 3 testing gaps per daily health workflow. closes #1848, #1849, #1850,
  package-lock.json
  package.json
  src/components/debt/__tests__/DebtStrategies.test.tsx
  src/utils/domain/transactions/__tests__/envelopeMatching.test.ts
  src/utils/features/sync/__tests__/syncEdgeCaseTester.test.ts
Due: none

feat(marketing): implement hero section (#1776)
  package.json
  src/components/marketing/HeroSection.tsx
  src/components/marketing/LandingPage.tsx
  src/components/marketing/__tests__/HeroSection.test.tsx
Due: frontend

feat(marketing): implement comparison cards & tech bar (#1777, #1779)
  package.json
  src/components/marketing/ComparisonSection.tsx
  src/components/marketing/LandingPage.tsx
  src/components/marketing/TechStackBar.tsx
  src/components/marketing/__tests__/Phase2.test.tsx
Due: frontend

test: comprehensive coverage for debtManagementHelpers.ts (9.90% → 99.15%) (#1863)
  package-lock.json
  package.json
  src/hooks/budgeting/envelopes/liabilities/helpers/__tests__/debtManagementHelpers.test.ts
Due: none
