Repository thef4tdaddy/violet-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, go-backend, python-backend

feat: add tests to improve coverage for csvImageExportUtils (#1898)
  package-lock.json
  package.json
  src/hooks/platform/analytics/utils/__tests__/csvImageExportUtils.test.ts
  src/hooks/platform/analytics/utils/csvImageExportUtils.ts
Due: frontend

feat: add tests to improve coverage for syncFlowValidator.ts (#1899)
  .full_salvo_timestamp
  src/utils/features/sync/__tests__/syncFlowValidator.test.ts
Due: none

feat: implement analytics privacy dashboard with audit trail (#1893)
  api/health/index.go
  src/components/privacy/AnalyticsPrivacyDashboard.tsx
  src/components/privacy/EncryptedPayloadInspector.tsx
  src/components/privacy/__tests__/AnalyticsPrivacyDashboard.test.tsx
  src/components/privacy/__tests__/EncryptedPayloadInspector.test.tsx
  src/hooks/platform/settings/useSettingsDashboard.ts
  src/hooks/platform/settings/useSettingsSectionRenderer.ts
  src/hooks/privacy/__tests__/useAuditTrail.test.ts
  src/hooks/privacy/useAuditTrail.ts
  src/services/api/client.ts
  src/services/privacy/__tests__/auditTrailService.test.ts
  src/services/privacy/auditTrailService.ts
  src/types/privacyAudit.ts
Due: frontend, go-backend

test: improve test coverage for paycheckDeletionUtils.ts (#1900)
  package-lock.json
  package.json
  src/utils/ui/layout/__tests__/paycheckDeletionUtils.test.ts
Due: none

feat(demo): Phase 0 demo mode integration + Phase 2 import fixes
  package-lock.json
  package.json
  src/components/analytics/allocation/AllocationAnalyticsDashboard.tsx
  src/components/analytics/allocation/demo/PerformanceComparisonWidget.tsx
  src/components/analytics/allocation/enhanced/AllocationDistributionChart.tsx
  src/components/analytics/allocation/enhanced/EnvelopeAllocationTrendsChart.tsx
  src/components/analytics/allocation/enhanced/InteractiveHeatmapCalendar.tsx
  src/components/analytics/allocation/shared/EnvelopeSelector.tsx
  src/components/privacy/AnalyticsTierCard.tsx
  src/components/privacy/PrivacyExplainerModal.tsx
  src/components/settings/PrivacySettings.tsx
Due: frontend

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

test: add comprehensive coverage for PerformanceTabNavigation (#1907)
  .full_salvo_timestamp
  package-lock.json
  package.json
  src/components/analytics/performance/__tests__/PerformanceTabNavigation.test.tsx
Due: none

fix: resolve failing tests in analytics privacy and address linting complexity
  api/ml/detect_anomalies/__init__.py
  api/ml/detect_anomalies/index.py
  api/ml/generate_insights/__init__.py
  api/ml/generate_insights/index.py
  api/ml/predict_allocations/index.py
  api/ml/utils.py
  package.json
  src/components/analytics/allocation/AllocationAnalyticsDashboard.tsx
  src/components/analytics/allocation/enhanced/EnhancedOverviewTab.tsx
  src/components/analytics/allocation/enhanced/HealthScoreGauge.tsx
  src/components/analytics/allocation/enhanced/StrategyPerformanceTable.tsx
  src/components/analytics/allocation/utils/analyticsDataTransformers.ts
  src/components/privacy/AnalyticsPrivacyDashboard.tsx
  src/components/privacy/AnalyticsTierCard.tsx
  src/components/privacy/AuditTrailTable.tsx
  src/components/privacy/ConnectionStatusCard.tsx
  src/components/privacy/PrivacyExplainerModal.tsx
  src/components/privacy/__tests__/AnalyticsPrivacyDashboard.test.tsx
  src/components/settings/PrivacySettings.tsx
  src/components/settings/__tests__/PrivacySettings.test.tsx
  src/components/settings/sections/PrivacySettingsSection.tsx
  src/hooks/privacy/__tests__/useAuditTrail.test.ts
  src/hooks/privacy/useAuditTrail.ts
  src/services/analytics/backendAnalyticsService.ts
  src/services/analytics/minimalAnalyticsService.ts
  src/services/api/client.ts
  src/services/privacy/__tests__/auditTrailService.test.ts
  src/stores/ui/fabStore.ts
  src/stores/ui/uiStore.ts
  src/test/setup.ts
  src/types/allocation.ts
  src/utils/security/encryption.ts
  src/utils/security/keyManagement.ts
Due: frontend, python-backend

chore: updating full salvo script
  package-lock.json
  package.json
  scripts/full_salvo.py
Due: none

Update src/utils/core/query/__tests__/backgroundSyncService.test.ts
  src/utils/core/query/__tests__/backgroundSyncService.test.ts
Due: none

test: merge redundant tests in backgroundSyncService.test.ts
  src/utils/core/query/__tests__/backgroundSyncService.test.ts
Due: none

fix: resolve PR review comments (version mismatch, util logic)
  package-lock.json
  src/components/analytics/performance/__tests__/PerformanceRecommendationsTab.test.tsx
  src/utils/performanceUtils.ts
Due: frontend

test(privacy): achieve >90% coverage for audit trail and analytics
  api/analytics/health-calculator/health_test.go
  api/analytics/health-calculator/index.go
  api/analytics/heatmap-generator/heatmap_test.go
  api/analytics/trend-aggregator/aggregator_test.go
  api/analytics/trend-aggregator/index.go
  api/analytics/utils/encryption_test.go
  api/health/index_test.go
  go.mod
  package.json
  src/components/privacy/__tests__/AuditTrailTable.test.tsx
  src/hooks/privacy/__tests__/useAuditTrail.test.ts
  src/services/api/__tests__/client.test.ts
  src/services/privacy/__tests__/auditTrailService.test.ts
Due: go-backend

Update src/utils/security/keyManagement.ts
  src/utils/security/keyManagement.ts
Due: frontend

fix(backend): resolve all MyPy errors and consolidate test coverage
  api/analytics/detect_frequency.py
  api/analytics/health-calculator/health_test.go
  api/analytics/heatmap-generator/heatmap_test.go
  api/analytics/test_detect_frequency.py
  api/analytics/trend-aggregator/aggregator_test.go
  api/autofunding/test_conditions.py
  api/autofunding/test_index.py
  api/autofunding/test_rules.py
  api/autofunding/test_simulation.py
  package-lock.json
  package.json
Due: go-backend, python-backend

feat: implement analytics phase 2 and demo mode integration (#1910)
  api/ml/detect_anomalies/index.py
  api/simulator/test_endpoint_manual.py
  api/simulator/test_simulator.py
  package-lock.json
  package.json
  src/components/settings/PrivacySettings.tsx
  src/services/privacy/__tests__/auditTrailService.test.ts
  src/utils/security/keyManagement.ts
  vercel.json
Due: frontend, python-backend

feat: add tests to improve coverage for backgroundSyncService.ts (#1908)
  package-lock.json
  src/utils/core/query/__tests__/backgroundSyncService.test.ts
Due: none

test: comprehensive coverage for PerformanceRecommendationsTab (12.50% → 100%) (#1906)
  package-lock.json
  package.json
  src/components/analytics/performance/__tests__/PerformanceRecommendationsTab.test.tsx
  src/utils/performanceUtils.ts
Due: frontend

chore: plan for playwright testing
  docs/plans/2026-02-04-feat-playwright-e2e-testing-plan.md
  package-lock.json
  package.json
Due: none

docs: add detailed playwright e2e testing plan with implementation phases
  docs/plans/2026-02-04-feat-playwright-e2e-testing-plan.md
Due: none

feat: setup Playwright E2E testing framework
  .salvo_stats.json
  api/analytics/trend-aggregator/coverage.out
  blob-report.zip
  configs/typescript/.tsbuildinfo
  package-lock.json
  package.json
  playwright-report/index.html
  playwright.config.ts
  test-results/.last-run.json
Due: go-backend, python-backend

feat: create E2E test fixtures and utilities
  e2e/fixtures/auth.fixture.ts
  e2e/fixtures/budget.fixture.ts
  e2e/fixtures/network.fixture.ts
  e2e/utils/assertions.ts
  e2e/utils/selectors.ts
Due: none

feat(ci): add Playwright E2E testing to CI/CD pipeline
  .env.test
  .github/workflows/ci.yml
  docs/testing/playwright-setup.md
  e2e/README.md
Due: none

docs: complete Phase 1 E2E testing documentation (Task 1.5)
  docs/testing/e2e-quick-start.md
  docs/testing/phase1-checklist.md
  e2e/README.md
Due: none

feat: add full-salvo script for optional E2E testing in pre-commit workflow
  .husky/pre-push
  full-salvo.sh
Due: none

feat: add full-salvo script for optional E2E testing in pre-commit workflow
  full-salvo.sh
Due: none

feat: add full-salvo script for optional E2E testing in pre-commit workflow
  .husky/pre-push
  configs/linting/config-modules/exclusions-config.js
  e2e/fixtures/auth.fixture.ts
  e2e/fixtures/network.fixture.ts
  full-salvo.sh
Due: none

Update src/components/sharing/steps/__tests__/UserSetupStep.test.tsx
  src/components/sharing/steps/__tests__/UserSetupStep.test.tsx
Due: none

feat: improve coverage for UserSetupStep.tsx (#1928)
  package-lock.json
  package.json
  src/components/sharing/steps/__tests__/UserSetupStep.test.tsx
Due: none

feat: add tests to improve coverage for PerformanceHeader (#1930)
  package-lock.json
  package.json
  src/components/analytics/performance/__tests__/PerformanceHeader.test.tsx
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities (#1905)
  package-lock.json
  package.json
Due: none

feat: add tests to improve coverage for useSavingsGoalsHelpers.ts (#1929)
  package-lock.json
  package.json
  src/hooks/budgeting/envelopes/goals/useSavingsGoals/__tests__/useSavingsGoalsHelpers.test.ts
Due: none

feat(e2e): set E2E smoke test debounce to 30 minutes
  scripts/full_salvo.py
Due: none

Path conditions:
  frontend: any of: src/, but not: **/__tests__/**, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*.spec.ts, **/vitest.config.ts, **/setup.ts
  go-backend: any of: api/, but not: api/**/*.py, **/__tests__/**, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*.spec.ts, **/vitest.config.ts, **/setup.ts
  python-backend: any of: api/, but not: api/**/*.go, **/__tests__/**, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*.spec.ts, **/vitest.config.ts, **/setup.ts
