Repository thef4tdaddy/violet-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, go-backend, python-backend

Update src/components/mobile/__tests__/SlideUpModal.test.tsx
  src/components/mobile/__tests__/SlideUpModal.test.tsx
Due: none

feat: complete Phase 3, fix Salvo regression, and add initial animations
  .coverage
  api/main.py
  api/marketing/blog_proxy.go
  api/marketing/blog_proxy_test.go
  api/marketing/go_status.go
  api/marketing/go_status_test.go
  api/marketing/status.py
  api/marketing/test_status.py
  package-lock.json
  package.json
  scripts/full_salvo.py
  src/components/marketing/ComparisonSection.tsx
  src/components/marketing/DevBlogGrid.tsx
  src/components/marketing/HeroSection.tsx
  src/components/marketing/LandingPage.tsx
  src/components/marketing/MarketingFooter.tsx
  src/components/marketing/__tests__/HeroSection.test.tsx
  src/components/marketing/__tests__/Phase3.test.tsx
Due: frontend, go-backend, python-backend

feat(marketing): finalize v2.1 site, pwa bypass, and ci optimization
  .coverage
  api/marketing/blog.go
  api/marketing/blog_test.go
  api/marketing/status.py
  api/marketing/test_status.py
  configs/build/vite.config.ts
  configs/linting/eslint.config.js
  coverage.out
  package-lock.json
  package.json
  scripts/full_salvo.py
  src/components/budgeting/paycheck-flow/forecasting/BillForecastingPanel.tsx
  src/components/marketing/HeroSection.tsx
  src/components/marketing/MarketingFooter.tsx
  src/components/marketing/TechStackBar.tsx
  src/components/marketing/__tests__/HeroSection.test.tsx
  src/components/marketing/__tests__/Phase2.test.tsx
  src/components/marketing/__tests__/Phase3.test.tsx
  src/hooks/marketing/useGitHubStats.ts
  src/test/setup.ts
  vercel.json
Due: frontend, go-backend, python-backend

feat(marketing): complete v2.1 landing page and fix salvo checks
  .coverage
  .gitignore
  api/analytics/detect-frequency.py
  api/main.py
  api/marketing/blog.go
  api/marketing/blog_test.go
  api/marketing/github.go
  api/marketing/go_status.go
  api/marketing/status.py
  api/marketing/test_status.py
  api/sentinel/__tests__/test_ocr_engine.py
  api/sentinel/ocr_engine.py
  configs/build/tailwind.config.js
  configs/build/vite.config.ts
  package-lock.json
  scripts/full_salvo.py
  src/components/budgeting/paycheck-flow/forecasting/BillForecastingPanel.tsx
  src/components/marketing/ComparisonSection.tsx
  src/components/marketing/DevBlogGrid.tsx
  src/components/marketing/HeroSection.tsx
  src/components/marketing/LandingPage.tsx
  src/components/marketing/MarketingFooter.tsx
  src/components/marketing/TechStackBar.tsx
  src/components/marketing/__tests__/DevBlogGrid.test.tsx
  src/components/marketing/__tests__/HeroSection.test.tsx
  src/components/marketing/__tests__/Phase3.test.tsx
  src/hooks/marketing/useGitHubStats.ts
  src/utils/domain/budgeting/__tests__/autoFixSuggestions.test.ts
  vercel.json
Due: frontend, go-backend, python-backend

feat(marketing): V2.1 Multi-Service Marketing Site & Polyglot Routing (#1867)
  .coverage
  .gitignore
  api/analytics/detect-frequency.py
  api/main.py
  api/marketing/blog.go
  api/marketing/blog_test.go
  api/marketing/github.go
  api/marketing/go_status.go
  api/marketing/go_status_test.go
  api/marketing/status.py
  api/marketing/test_status.py
  api/sentinel/__tests__/test_ocr_engine.py
  api/sentinel/ocr_engine.py
  configs/build/tailwind.config.js
  configs/build/vite.config.ts
  configs/linting/eslint.config.js
  coverage.out
  package-lock.json
  package.json
  scripts/full_salvo.py
  src/components/budgeting/paycheck-flow/forecasting/BillForecastingPanel.tsx
  src/components/marketing/ComparisonSection.tsx
  src/components/marketing/DevBlogGrid.tsx
  src/components/marketing/HeroSection.tsx
  src/components/marketing/LandingPage.tsx
  src/components/marketing/MarketingFooter.tsx
  src/components/marketing/TechStackBar.tsx
  src/components/marketing/__tests__/DevBlogGrid.test.tsx
  src/components/marketing/__tests__/HeroSection.test.tsx
  src/components/marketing/__tests__/Phase2.test.tsx
  src/components/marketing/__tests__/Phase3.test.tsx
  src/hooks/marketing/useGitHubStats.ts
  src/test/setup.ts
  src/utils/domain/budgeting/__tests__/autoFixSuggestions.test.ts
  vercel.json
Due: frontend, go-backend, python-backend

test: improve test coverage for debtApiWrappers.ts (#1862)
  .full_salvo_timestamp
  package-lock.json
  package.json
  src/hooks/budgeting/envelopes/liabilities/helpers/__tests__/debtApiWrappers.test.ts
Due: none

feat: add tests to improve coverage for SlideUpModal (#1864)
  package-lock.json
  package.json
  src/components/mobile/SlideUpModal.tsx
  src/components/mobile/__tests__/SlideUpModal.test.tsx
Due: frontend

test(coverage): boost coverage for critical worst offenders
  package.json
  src/components/analytics/tabs/__tests__/EnvelopesTab.test.tsx
  src/constants/__tests__/debts.test.ts
  src/constants/debts.ts
  src/db/__tests__/budgetDb.comprehensive.test.ts
  src/db/__tests__/validationUtils.test.ts
  src/stores/ui/__tests__/fabStore.test.ts
  src/stores/ui/__tests__/uiStore.test.ts
  src/utils/features/sync/__tests__/syncHealthChecker.test.ts
  src/utils/ui/feedback/__tests__/touchFeedback.test.ts
Due: frontend

test(receipts): fix batch 3 and 4 test coverage failures
  package-lock.json
  package.json
  src/components/debt/__tests__/DebtDashboardComponents.test.tsx
  src/components/debt/ui/__tests__/DebtCardProgressBar.test.tsx
  src/components/debt/ui/__tests__/DebtList.test.tsx
  src/components/receipts/__tests__/ReceiptToTransactionModal.test.tsx
  src/components/receipts/components/ReceiptErrorState.tsx
  src/components/receipts/components/ReceiptProcessingState.tsx
  src/components/receipts/components/ReceiptScannerHeader.tsx
  src/components/receipts/components/ReceiptUploadArea.tsx
  src/components/receipts/components/__tests__/ExtractedDataField.test.tsx
  src/components/receipts/components/__tests__/ExtractedItemsList.test.tsx
  src/components/receipts/components/__tests__/ReceiptActionButtons.test.tsx
  src/components/receipts/components/__tests__/ReceiptErrorState.test.tsx
  src/components/receipts/components/__tests__/ReceiptExtractedData.test.tsx
  src/components/receipts/components/__tests__/ReceiptImagePreview.test.tsx
  src/components/receipts/components/__tests__/ReceiptProcessingState.test.tsx
  src/components/receipts/components/__tests__/ReceiptScannerHeader.test.tsx
  src/components/receipts/components/__tests__/ReceiptUploadArea.test.tsx
  src/components/receipts/steps/__tests__/ConfirmationStep.test.tsx
  src/components/receipts/steps/__tests__/EnvelopeSelectionStep.test.tsx
  src/components/receipts/steps/__tests__/ReceiptDataStep.test.tsx
Due: frontend

docs: add comprehensive Epic #172 implementation review
  docs/reviews/2026-02-02-epic-172-copilot-implementation-review.md
  package.json
Due: none

fix(demo): connect demoDataService to Go Mock Factory API
  src/services/demo/demoDataService.ts
Due: frontend

fix(demo): connect demo components to real backend APIs
  src/components/demo/components/GoEngineDemo.tsx
  src/components/demo/components/PythonBrainDemo.tsx
Due: frontend

fix(demo): integrate DatabaseContext into App.tsx
  src/App.tsx
Due: frontend

fix: Address code review feedback for PR #1876 (Polyglot Demo Engine) (#1888)
  api/demo-factory/generator.go
  api/simulator/generator.py
  api/simulator/index.py
  src/components/demo/components/GoEngineDemo.tsx
  src/components/demo/components/PythonBrainDemo.tsx
  src/components/layout/AppRoutes.tsx
  src/services/demo/__tests__/demoDataService.test.ts
Due: frontend, go-backend, python-backend

feat: Complete Epic #172 - Polyglot Demo Engine (Hyperspeed Sandbox) (#1876)
  api/README.md
  api/demo-factory/README.md
  api/demo-factory/generator.go
  api/demo-factory/generator_test.go
  api/demo-factory/index.go
  api/demo-factory/index_test.go
  api/demo-factory/types.go
  api/go.mod
  api/go.sum
  api/main.py
  api/requirements.txt
  api/simulator/README.md
  api/simulator/__init__.py
  api/simulator/generator.py
  api/simulator/index.py
  api/simulator/models.py
  api/simulator/test_endpoint_manual.py
  api/simulator/test_simulator.py
  package-lock.json
  package.json
  src/App.tsx
  src/components/demo/DemoDashboard.tsx
  src/components/demo/DemoPage.tsx
  src/components/demo/DemoTour.tsx
  src/components/demo/__tests__/DemoPage.test.tsx
  src/components/demo/__tests__/DemoTour.test.tsx
  src/components/demo/__tests__/GoEngineDemo.test.tsx
  src/components/demo/components/GoEngineDemo.tsx
  src/components/demo/components/PythonBrainDemo.tsx
  src/components/demo/components/SentinelMatchDemo.tsx
  src/components/layout/routeConfig.ts
  src/contexts/DatabaseContext.tsx
  src/db/__tests__/inMemoryDb.test.ts
  src/db/inMemoryDb.ts
  src/services/demo/__tests__/demoDataService.test.ts
  src/services/demo/demoDataService.ts
  src/utils/platform/demo/__tests__/demoModeDetection.test.ts
  src/utils/platform/demo/demoModeDetection.ts
  src/utils/ui/icons/index.ts
Due: frontend, go-backend, python-backend

fix(build): resolve typescript, eslint, mypy and test failures
  api/simulator/generator.py
  api/simulator/index.py
  api/simulator/test_simulator.py
  configs/linting/config-modules/exclusions-config.js
  package.json
  src/components/analytics/allocation/AllocationAnalyticsDashboard.tsx
  src/components/analytics/allocation/README.md
  src/components/layout/ViewRenderer.tsx
  src/domain/schemas/allocationAnalytics.ts
  src/hooks/platform/analytics/useAllocationAnalytics.ts
  src/services/analytics/__tests__/allocationAnalyticsService.test.ts
  src/services/analytics/allocationAnalyticsService.ts
  src/services/demo/__tests__/demoDataService.test.ts
  src/stores/ui/allocationAnalyticsStore.ts
  src/types/allocationAnalytics.ts
Due: frontend, python-backend

feat(infra): configure demo subdomain routing and isolation
  package.json
  src/contexts/DatabaseContext.tsx
  src/services/demo/demoDataService.ts
  vercel.json
Due: frontend

feat: create minimal offline chart components for analytics (#1889)
  .full_salvo_timestamp
  package-lock.json
  src/components/analytics/allocation/minimal/BasicTrendsSparkline.tsx
  src/components/analytics/allocation/minimal/DistributionTable.tsx
  src/components/analytics/allocation/minimal/MinimalHealthGauge.tsx
  src/components/analytics/allocation/minimal/MinimalOverviewTab.tsx
  src/components/analytics/allocation/minimal/SimpleHeatmapGrid.tsx
  src/components/analytics/allocation/minimal/__tests__/BasicTrendsSparkline.test.tsx
  src/components/analytics/allocation/minimal/__tests__/DistributionTable.test.tsx
  src/components/analytics/allocation/minimal/__tests__/MinimalHealthGauge.test.tsx
  src/components/analytics/allocation/minimal/__tests__/MinimalOverviewTab.test.tsx
  src/components/analytics/allocation/minimal/__tests__/SimpleHeatmapGrid.test.tsx
  src/components/analytics/allocation/minimal/index.ts
Due: frontend

feat: optimize client-side analytics service with Web Worker and caching (#1890)
  docs/services/minimal-analytics-service.md
  src/services/analytics/__tests__/minimalAnalyticsService.test.ts
  src/services/analytics/analyticsWorkerManager.ts
  src/services/analytics/minimalAnalyticsService.ts
  src/workers/analyticsWorker.ts
Due: frontend

feat: add analytics tier selection UI with privacy controls (#1891)
  src/components/privacy/AnalyticsTierCard.tsx
  src/components/privacy/PrivacyExplainerModal.tsx
  src/components/privacy/__tests__/AnalyticsTierCard.test.tsx
  src/components/settings/PrivacySettings.tsx
  src/components/settings/SettingsDashboard.tsx
  src/components/settings/__tests__/PrivacySettings.test.tsx
  src/components/settings/sections/PrivacySettingsSection.tsx
  src/hooks/platform/settings/useSettingsDashboard.ts
  src/hooks/platform/settings/useSettingsSectionRenderer.ts
  src/hooks/platform/ux/useModalManager.ts
  src/stores/ui/__tests__/allocationAnalyticsStore.test.ts
  src/stores/ui/allocationAnalyticsStore.ts
Due: frontend

Update client.ts
  src/services/api/client.ts
Due: frontend

Update useAuditTrail.ts
  src/hooks/privacy/useAuditTrail.ts
Due: frontend

Update useSettingsDashboard.ts
  src/hooks/platform/settings/useSettingsDashboard.ts
Due: frontend

Update AnalyticsPrivacyDashboard.tsx
  src/components/privacy/AnalyticsPrivacyDashboard.tsx
Due: frontend

Update auditTrailService.ts
  src/services/privacy/auditTrailService.ts
Due: frontend

Update auditTrailService.test.ts
  src/services/privacy/__tests__/auditTrailService.test.ts
Due: none

Update syncFlowValidator.test.ts
  src/utils/features/sync/__tests__/syncFlowValidator.test.ts
Due: none

Update paycheckDeletionUtils.test.ts
  src/utils/ui/layout/__tests__/paycheckDeletionUtils.test.ts
Due: none

feat(analytics): implement Phase 2 private backend infrastructure
  api/analytics/health-calculator/index.go
  api/analytics/heatmap-generator/index.go
  api/analytics/trend-aggregator/index.go
  api/analytics/utils/encryption.go
  api/analytics/utils/types.go
  api/health/index.go
  api/ml/detect-anomalies/index.py
  api/ml/generate-insights/index.py
  api/ml/predict-allocations/index.py
  api/ml/requirements.txt
  api/ml/utils.py
  src/services/analytics/backendAnalyticsService.ts
  src/services/analytics/hybridAnalyticsService.ts
  src/utils/security/encryption.ts
  src/utils/security/keyManagement.ts
Due: frontend, go-backend, python-backend

fix: resolve test failure and vercel.json CSP length issue
  src/components/settings/__tests__/PrivacySettings.test.tsx
  vercel.json
Due: none

fix: address PR review comments for privacy dashboard
  src/components/privacy/AnalyticsPrivacyDashboard.tsx
  src/components/privacy/EncryptedPayloadInspector.tsx
  src/services/privacy/__tests__/auditTrailService.test.ts
  src/services/privacy/auditTrailService.ts
Due: frontend

feat: add Recharts-powered advanced visualizations for Tier 2 (#1892)
  package-lock.json
  package.json
  src/components/analytics/allocation/AllocationAnalyticsDashboard.tsx
  src/components/analytics/allocation/enhanced/AllocationDistributionChart.tsx
  src/components/analytics/allocation/enhanced/EnhancedOverviewTab.tsx
  src/components/analytics/allocation/enhanced/EnvelopeAllocationTrendsChart.tsx
  src/components/analytics/allocation/enhanced/HealthScoreGauge.tsx
  src/components/analytics/allocation/enhanced/InteractiveHeatmapCalendar.tsx
  src/components/analytics/allocation/enhanced/StrategyPerformanceTable.tsx
  src/components/analytics/allocation/enhanced/index.ts
  src/components/analytics/allocation/shared/ChartExportButton.tsx
  src/components/analytics/allocation/shared/DateRangePicker.tsx
  src/components/analytics/allocation/shared/EnvelopeSelector.tsx
  src/components/analytics/allocation/shared/index.ts
  src/components/privacy/__tests__/AnalyticsTierCard.test.tsx
  src/components/settings/PrivacySettings.tsx
  src/components/settings/__tests__/PrivacySettings.test.tsx
  src/types/analyticsEnhanced.ts
  vercel.json
Due: frontend

Path conditions:
  frontend: any of: src/, but not: **/__tests__/**, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*.spec.ts, **/vitest.config.ts, **/setup.ts
  go-backend: any of: api/, but not: api/**/*.py, **/__tests__/**, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*.spec.ts, **/vitest.config.ts, **/setup.ts
  python-backend: any of: api/, but not: api/**/*.go, **/__tests__/**, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*.spec.ts, **/vitest.config.ts, **/setup.ts
