Repository thef4tdaddy/violet-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, go-backend, python-backend

feat(infra): finalize edge performance tuning with caching, warm-up endpoints, and passing lints
  .coverage
  api/import/import_test.go
  api/import/index.go
  api/main.py
  api/test_main.py
  api/warm/index.go
  api/warm/warm_test.go
  package-lock.json
  package.json
  vercel.json
Due: go-backend, python-backend

test: improve coverage for core utils and components (closes #1806, #1807, #1808)
  package.json
  src/components/analytics/performance/__tests__/PerformanceAlertsTab.test.tsx
  src/hooks/auth/__tests__/authHelpers.test.ts
  src/utils/domain/budgeting/__tests__/paydayPredictor.test.ts
Due: none

ci: expand daily health check and remove redundant bundle-size workflow
  .github/workflows/bundle-size.yml
  .github/workflows/daily-health.yml
  package.json
Due: none

ci: expand daily health check and remove redundant bundle-size workflow
  .github/workflows/bundle-size.yml
  .github/workflows/daily-health.yml
Due: none

ci: fix main branch workflow dependencies and config paths
  package-lock.json
  package.json
  vite.config.js
Due: none

ci: use --legacy-peer-deps for npm ci to resolve Codecov peer dep conflict
  .github/workflows/daily-health.yml
  package.json
Due: none

ci: use --legacy-peer-deps for npm ci on main
  .github/workflows/daily-health.yml
Due: none

ci: expand daily health sentinel and fix main branch stability
  .github/workflows/daily-health.yml
  package-lock.json
  package.json
  vite.config.js
Due: none

ci: sync sentinel workflow from main
  .github/workflows/daily-health.yml
Due: none

feat(ocr): implement server-side OCR extraction engine with Tesseract
  .coverage
  api/analytics/categorization.py
  api/analytics/prediction.py
  api/autofunding/rules.py
  api/autofunding/test_currency.py
  api/autofunding/test_simulation.py
  api/requirements.txt
  api/sentinel/__tests__/test_extract_endpoint.py
  api/sentinel/__tests__/test_ocr_engine.py
  api/sentinel/__tests__/test_parser.py
  api/sentinel/__tests__/test_preprocessing.py
  api/sentinel/models.py
  api/sentinel/ocr_engine.py
  api/sentinel/parser.py
  api/sentinel/preprocessing.py
  api/sentinel/receipts.py
  api/test_analytics.py
  api/test_audit.py
  docs/plans/2026-01-26-feat-python-ocr-extraction-engine-plan.md
  package-lock.json
  src/utils/core/api/__tests__/client.test.ts
  src/utils/core/api/__tests__/discovery.test.ts
  src/utils/core/api/client.ts
  src/utils/core/api/discovery.ts
  src/utils/core/common/__tests__/ocrProcessor.test.ts
  src/utils/core/common/ocrProcessor.ts
  tsconfig.json
Due: frontend, go-backend, python-backend

feat: sentinel-enhanced OCR scanner UI (#1112)
  package-lock.json
  package.json
  src/components/sentinel/OCRScanner.tsx
  src/components/sentinel/__tests__/OCRScanner.test.tsx
  src/components/sentinel/components/ScannerActionButtons.tsx
  src/components/sentinel/components/ScannerErrorState.tsx
  src/components/sentinel/components/ScannerHeader.tsx
  src/components/sentinel/components/ScannerProcessingState.tsx
  src/components/sentinel/components/ScannerResults.tsx
  src/components/sentinel/components/ScannerUploadArea.tsx
  src/hooks/platform/receipts/__tests__/useReceiptScanner.test.ts
  src/hooks/platform/receipts/useReceiptScanner.ts
  src/utils/core/common/__tests__/imageUtils.test.ts
  src/utils/core/common/__tests__/ocrProcessor.test.ts
  src/utils/core/common/imageUtils.ts
Due: frontend

chore: upgrade of ruff version
  api/requirements.txt
Due: go-backend, python-backend

feat: unified import dashboard with Digital/Scan modes
  api/requirements.txt
  docs/plans/2026-01-26-feat-unified-sentinel-ocr-import-dashboard-plan.md
  package-lock.json
  package.json
  src/components/receipts/import-dashboard/EmptyState.tsx
  src/components/receipts/import-dashboard/ImportDashboard.tsx
  src/components/receipts/import-dashboard/ImportSidebar.tsx
  src/components/receipts/import-dashboard/MatchConfidenceGlow.tsx
  src/components/receipts/import-dashboard/ReceiptCard.tsx
  src/components/receipts/import-dashboard/ReceiptInbox.tsx
  src/components/receipts/import-dashboard/__tests__/EmptyState.test.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboard.test.tsx
  src/components/receipts/import-dashboard/__tests__/ImportSidebar.test.tsx
  src/components/receipts/import-dashboard/__tests__/MatchConfidenceGlow.test.tsx
  src/components/receipts/import-dashboard/__tests__/ReceiptCard.test.tsx
  src/components/receipts/import-dashboard/__tests__/ReceiptInbox.test.tsx
  src/components/receipts/import-dashboard/index.ts
  src/db/types.ts
  src/hooks/platform/receipts/__tests__/useUnifiedReceipts.test.tsx
  src/hooks/platform/receipts/useUnifiedReceipts.ts
  src/types/import-dashboard.types.ts
  src/utils/ui/icons/index.ts
Due: frontend, go-backend, python-backend

feat(phase-3.1): add import dashboard modal infrastructure
  src/components/layout/MainLayout.tsx
  src/components/receipts/import-dashboard/ImportDashboard.tsx
  src/components/receipts/import-dashboard/ImportDashboardModal.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboardModal.test.tsx
  src/stores/ui/__tests__/importDashboardStore.test.ts
  src/stores/ui/importDashboardStore.ts
Due: frontend

perf(infra): optimize multi-language testing infrastructure
  .gitignore
  configs/typescript/tsconfig.base.json
  configs/typescript/tsconfig.node.json
  package-lock.json
  package.json
  pyproject.toml
  scripts/full_salvo.sh
  vitest.config.ts
Due: none

test: resolve ruff and mypy failures in analytics and autofunding tests
  api/autofunding/test_index.py
  api/test_main.py
  package.json
  src/components/analytics/__tests__/ReportExporter.test.tsx
Due: none

feat(receipts): complete Phase 3.2 navigation integration and dashboard indicators #1791
  src/components/dashboard/QuickActionButton.tsx
  src/components/dashboard/QuickActions.tsx
  src/components/dashboard/__tests__/QuickActions.test.tsx
  src/components/layout/NavigationTabs.tsx
  src/components/layout/__tests__/NavigationTabs.test.tsx
  src/components/mobile/BottomNavItem.tsx
  src/components/mobile/BottomNavigationBar.tsx
  src/components/mobile/__tests__/BottomNavItem.test.tsx
  src/components/mobile/__tests__/BottomNavigationBar.test.tsx
  src/components/pwa/ShareTargetHandler.tsx
  src/components/pwa/__tests__/ShareTargetHandler.test.tsx
  src/components/receipts/import-dashboard/ImportDashboard.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboard.test.tsx
  src/components/sentinel/OCRScanner.tsx
  src/components/sentinel/__tests__/OCRScanner.test.tsx
  src/components/transactions/TransactionLedger.tsx
  src/components/transactions/__tests__/TransactionLedger.test.tsx
  src/hooks/platform/mobile/__tests__/useBottomNavigation.test.ts
  src/hooks/platform/mobile/useBottomNavigation.ts
Due: frontend

feat(receipts): implement ScanUploadZone and integrate in-page OCR flow #1791
  src/components/receipts/import-dashboard/ImportDashboard.tsx
  src/components/receipts/import-dashboard/ScanUploadZone.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboard.test.tsx
  src/components/receipts/import-dashboard/__tests__/ScanUploadZone.test.tsx
Due: frontend

feat(dashboard): implement receipt linking flow (Phase 3.4)
  src/components/receipts/import-dashboard/ImportDashboard.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboard.test.tsx
  src/hooks/platform/receipts/useReceiptMatching.ts
Due: frontend

feat(dashboard): implement real-time OCR status & animations (Phase 3.5-3.6)
  src/components/receipts/import-dashboard/ImportDashboardModal.tsx
  src/components/receipts/import-dashboard/ReceiptCard.tsx
  src/components/receipts/import-dashboard/ReceiptInbox.tsx
  src/hooks/platform/receipts/__tests__/useOCRJobStatus.test.tsx
  src/hooks/platform/receipts/useOCRJobStatus.ts
  src/hooks/platform/receipts/useUnifiedReceipts.ts
  src/services/ocr/ocrStatusService.ts
Due: frontend

feat(import): implement offline queue, mobile layout, and error handling
  src/components/receipts/import-dashboard/ErrorState.tsx
  src/components/receipts/import-dashboard/ImportDashboard.tsx
  src/components/receipts/import-dashboard/ImportDashboardModal.tsx
  src/components/receipts/import-dashboard/ImportSidebar.tsx
  src/components/receipts/import-dashboard/ReceiptCard.tsx
  src/components/receipts/import-dashboard/ReceiptInbox.tsx
  src/components/receipts/import-dashboard/__tests__/ErrorState.test.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboard.test.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboardModal.test.tsx
  src/components/receipts/import-dashboard/__tests__/ImportSidebar.test.tsx
  src/db/offlineReceiptsDB.ts
  src/hooks/platform/receipts/__tests__/useOfflineReceiptQueue.test.ts
  src/hooks/platform/receipts/useOfflineReceiptQueue.ts
  src/hooks/utils/__tests__/useRetryWithBackoff.test.ts
  src/hooks/utils/useRetryWithBackoff.ts
Due: frontend

chore: fix coderabbit profile validation error
  .coderabbit.yaml
Due: none

chore: remove invalid root keys from coderabbit config
  .coderabbit.yaml
Due: none

fix: upgrade @tanstack/react-virtual from 3.13.12 to 3.13.17
  package-lock.json
  package.json
Due: none

fix: upgrade react-router-dom from 7.10.1 to 7.11.0
  package-lock.json
  package.json
Due: none

fix: upgrade @msgpack/msgpack from 3.1.2 to 3.1.3
  package-lock.json
  package.json
Due: none

fix: upgrade tailwindcss from 4.1.17 to 4.1.18
  package-lock.json
  package.json
Due: none

fix: upgrade @tailwindcss/vite from 4.1.17 to 4.1.18
  package-lock.json
  package.json
Due: none

fix: address PR review comments for import modal
  src/components/layout/__tests__/NavigationTabs.test.tsx
  src/components/mobile/BottomNavItem.tsx
  src/components/pwa/ShareTargetHandler.tsx
  src/components/pwa/__tests__/ShareTargetHandler.test.tsx
  src/components/receipts/import-dashboard/ErrorState.tsx
  src/components/receipts/import-dashboard/ImportDashboard.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboard.test.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboardModal.test.tsx
  src/components/receipts/import-dashboard/__tests__/ReceiptCard.test.tsx
  src/components/receipts/import-dashboard/__tests__/ReceiptInbox.test.tsx
  src/hooks/platform/mobile/__tests__/useBottomNavigation.test.ts
  src/hooks/platform/receipts/__tests__/useOCRJobStatus.test.tsx
  src/hooks/platform/receipts/useOfflineReceiptQueue.ts
Due: frontend

fix: resolve all lint errors and complexity warnings
  src/components/layout/NavigationTabs.tsx
  src/components/mobile/BottomNavItem.tsx
  src/components/mobile/BottomNavigationBar.tsx
  src/components/pwa/ShareTargetHandler.tsx
  src/components/receipts/import-dashboard/ImportDashboard.tsx
  src/components/receipts/import-dashboard/ImportDashboardHeader.tsx
  src/components/receipts/import-dashboard/ImportDashboardModal.tsx
  src/components/receipts/import-dashboard/ReceiptCard.tsx
  src/components/receipts/import-dashboard/ScanUploadZone.tsx
  src/hooks/platform/receipts/useImportDashboardKeyboard.ts
  src/hooks/platform/receipts/useOfflineReceiptQueue.ts
Due: frontend

fix: resolve test failures in BottomNavigationBar and TransactionLedger
  src/components/mobile/__tests__/BottomNavigationBar.test.tsx
  src/components/transactions/__tests__/TransactionLedger.test.tsx
Due: none

fix: resolve ReceiptCard test failures for processing/failed states
  src/components/receipts/import-dashboard/__tests__/ReceiptCard.test.tsx
Due: none

temp: save work before switching to main repo
  src/hooks/platform/receipts/__tests__/useOCRJobStatus.test.tsx
  src/hooks/platform/receipts/__tests__/useOfflineReceiptQueue.test.ts
Due: none

test: stabilize vitest suite, refactor ImportDashboard, and update Tailwind 4.0 classes
  package-lock.json
  package.json
  src/components/layout/__tests__/NavigationTabs.test.tsx
  src/components/mobile/__tests__/BottomNavigationBar.test.tsx
  src/components/pwa/ShareTargetHandler.tsx
  src/components/pwa/__tests__/ShareTargetHandler.test.tsx
  src/components/receipts/import-dashboard/ImportDashboard.tsx
  src/components/receipts/import-dashboard/ReceiptCard.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboard.test.tsx
  src/components/receipts/import-dashboard/__tests__/ReceiptCard.test.tsx
  src/components/transactions/__tests__/TransactionLedger.test.tsx
  src/hooks/platform/mobile/__tests__/useBottomNavigation.test.ts
  src/hooks/platform/receipts/__tests__/useOCRJobStatus.test.tsx
  src/hooks/platform/receipts/__tests__/useOfflineReceiptQueue.test.ts
  src/hooks/platform/receipts/useImportDashboardKeyboard.ts
  src/hooks/platform/receipts/useOfflineReceiptQueue.ts
  src/hooks/utils/__tests__/useRetryWithBackoff.test.ts
Due: frontend

sec: fix URL sanitization and dependencies; fix: Recharts type error
  package-lock.json
  package.json
  src/components/analytics/trends/HistoricalTrendsChart.tsx
  src/main.tsx
Due: frontend

fix: resolve mypy errors and import dashboard test failures
  .github/workflows/ci.yml
  api/requirements.txt
  api/sentinel/__tests__/test_ocr_engine.py
  api/sentinel/ocr_engine.py
  package-lock.json
  package.json
  pyproject.toml
  src/components/layout/NavigationTabs.tsx
  src/components/mobile/BottomNavItem.tsx
  src/components/primitives/buttons/BadgeButton.tsx
  src/components/primitives/buttons/__tests__/BadgeButton.test.tsx
  src/components/primitives/buttons/index.ts
  src/components/primitives/index.ts
  src/components/pwa/ShareTargetHandler.tsx
  src/components/pwa/__tests__/ShareTargetHandler.test.tsx
  src/components/receipts/import-dashboard/ImportDashboard.tsx
  src/components/receipts/import-dashboard/ImportDashboardHeader.tsx
  src/components/receipts/import-dashboard/ReceiptCard.tsx
  src/components/receipts/import-dashboard/ScanUploadZone.tsx
  src/components/receipts/import-dashboard/__tests__/ErrorState.test.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboard.test.tsx
  src/components/receipts/import-dashboard/__tests__/ScanUploadZone.test.tsx
  src/hooks/platform/receipts/__tests__/useOfflineReceiptQueue.test.ts
  src/hooks/platform/receipts/useImportDashboardKeyboard.ts
  src/hooks/platform/receipts/useUnifiedReceipts.ts
  src/index.css
Due: frontend, go-backend, python-backend

chore: switch to happy-dom and optimize CI
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/components/accounts/__tests__/AccountsHeader.test.tsx
  src/components/debt/__tests__/DebtDashboardComponents.test.tsx
  src/components/pwa/__tests__/ShareTargetHandler.test.tsx
  src/components/receipts/import-dashboard/__tests__/EmptyState.test.tsx
  src/components/receipts/import-dashboard/__tests__/ErrorState.test.tsx
  src/components/receipts/import-dashboard/__tests__/ImportDashboard.test.tsx
  src/components/receipts/import-dashboard/__tests__/ImportSidebar.test.tsx
  src/components/receipts/import-dashboard/__tests__/MatchConfidenceGlow.test.tsx
  src/components/receipts/import-dashboard/__tests__/ReceiptCard.test.tsx
  src/components/receipts/import-dashboard/__tests__/ReceiptInbox.test.tsx
  src/components/sharing/__tests__/ShareCodeModal.test.tsx
  src/components/ui/buttons/__tests__/Button.test.tsx
  src/components/ui/cards/__tests__/SummaryCard.test.tsx
  src/contexts/__tests__/AuthContext.test.tsx
  src/db/__tests__/budgetDb.comprehensive.test.ts
  src/db/__tests__/budgetDb.integration.test.ts
  src/db/__tests__/budgetDb.test.ts
  src/hooks/budgeting/envelopes/liabilities/__tests__/useDebtForm.test.ts
  src/hooks/budgeting/transactions/scheduled/expenses/__tests__/billMutations.test.ts
  src/hooks/platform/receipts/__tests__/useOCRJobStatus.test.tsx
  src/hooks/platform/receipts/__tests__/useReceiptScanner.test.ts
  src/hooks/platform/receipts/__tests__/useUnifiedReceipts.test.tsx
  src/test/setup.ts
  src/utils/features/sync/__tests__/masterSyncValidator.test.ts
  vitest.config.ts
Due: none

refactor(scripts): optimize full_salvo with smart overlap, resumable runs, and CI mode
  .gitignore
  package-lock.json
  package.json
  scripts/full_salvo.py
  scripts/full_salvo.sh
Due: none

ci: fix python test imports and ecosystem coverage in workflows
  .github/workflows/ci.yml
  .github/workflows/daily-health.yml
  package.json
Due: none

Path conditions:
  frontend: any of: src/, but not: **/__tests__/**, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*.spec.ts, **/vitest.config.ts, **/setup.ts
  go-backend: any of: api/, but not: api/**/*.py, **/__tests__/**, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*.spec.ts, **/vitest.config.ts, **/setup.ts
  python-backend: any of: api/, but not: api/**/*.go, **/__tests__/**, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*.spec.ts, **/vitest.config.ts, **/setup.ts
